---
import Article from "../components/About1.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <title>路线推荐</title>
        <style>
             body {
            background-color: white;
            color:black
            width: 800px;
            margin:0 auto;
        } 
      h1 {
        font-size: 3em;
        margin: 1em 0;
        text-align: center;
      }
            </style>
        </head>
       
 <Navigation />
        <h1>路线推荐</h1>
        <Article
            title1="3日游"
            content="D1:西宁-日月山-倒淌河-青海湖-茶卡镇(住:茶卡)D2:茶卡镇-茶卡盐湖-环湖西路-大冬树山垭口-冰沟林海一祁连县(住:祁连县)D3:祁连-卓尔山-阿柔大寺-祁连草原-门源油菜花(观赏期7-8月)-达坂山-西宁"
        />
        <Article
            title1="4日游"
            content="D1:西宁-日月山-倒淌河-青海湖-茶卡镇(住)D2:茶卡镇-茶卡盐湖-环湖西路-大冬树山垭口-冰沟林海-祁连县(住)D3:祁连-卓尔山-阿柔大寺-扁都口-张掖(住)D4：张掖-七彩丹霞-祁连草原-门源油菜花海 -达坂山-西宁"
        />
        <Article
            title1="5日游"
            content="D1:西宁-日月山-倒淌河-青海湖-茶卡盐湖-德令哈(住)D2:德令哈-翡翠湖-石油小镇敦煌 D3:敦煌莫高窟-鸣沙山月牙泉-沙洲夜市-敦煌市(住)D4:敦煌瓜州-嘉峪关-张掖七彩丹霞地质公园D5:扁都口风景区-祁连大草原-岗什卡雪峰-门源油菜花-西宁"
        />
        <Article
            title1="6日游"
            content="D1:西宁-日月山-倒淌河-青海湖-茶卡盐湖-茶卡/德令哈(住)D2:茶卡/德令哈-U型公路-东台吉乃尔湖-水上雅丹-大柴旦(住)D3:大柴旦-翡翠湖-石油小镇-阳关敦煌(住）D4:敦煌莫高窟-鸣沙山月牙泉沙洲夜市-敦煌市(住)D5:敦煌-瓜州-嘉峪关张掖-七彩丹霞地质公园(住）D6:张掖-扁都口风景区-祁连大草原-岗什卡雪峰-门源油菜花-西宁"
        />
        <Article
            title1="7日游-1"
            content="D1:西宁-日月山-倒淌河-青海湖-茶卡镇(住)D2:茶卡盐湖-察尔汗盐湖-翡翠湖-大柴旦(住)D3:大柴旦-U型公路-东台吉乃尔湖-水上雅丹-大柴旦D4:大柴旦-石油小镇-阳关敦煌市(住)D5:敦煌-莫高窟-鸣沙山月牙泉沙洲夜市-敦煌市(住)D6:敦煌市-瓜州-嘉峪关-张掖七彩丹霞地质公园(住)D7:张掖-扁都口风景区-祁连大草原-岗什卡雪峰-门源油菜花-西宁"
        />
        <Article
            title1="7日游-2"
            content="D1:西宁-日月山-青海湖-茶卡盐湖-茶卡镇(住)D2:茶卡镇-小柴旦湖-察尔汗盐湖-大柴旦(住)D3:大柴旦-U型公路-东台吉尔湖-水上雅丹-大柴旦(住)D4:大柴旦-翡翠湖-黑独山-石油小镇-敦煌(住)D5:敦煌-莫高窟-鸣沙山月牙泉-敦煌(住)D6:敦煌-嘉峪关-七彩丹霞-张掖(住)D7:张掖-祁连大草原-岗什卡雪峰-门源油菜花海-西宁"
        />
   
    <body>
    <Footer />  
</html>
