---
const { title1 = "文章标题1", content = "文章内容" } = Astro.props;
---

<h2>{title1}</h2>
<p>{content}</p>

<style>
    /* 为标题添加样式 */
    h2 {
        font-size: 32px;
        color: #333;
        margin: 3px 0 10px 210px; /* 重置外边距，确保标题下方有足够的空间 */
        padding: 0; /* 重置内边距 */
    }

    /* 为内容添加样式 */
    p {
        color: black;
        font-family: "Times New Roman", serif;
        font-size: 18px;
        line-height: 1.8;
        margin: 20px 0; /* 增加段落的外边距 */
        text-indent: 2em; /* 设置首行缩进 */
        border: 1px solid #1aacc0; /* 设置细边框颜色 */
        padding: 20px; /* 内边距，使内容与边框保持一定距离 */
        border-radius: 8px; /* 边框圆角 */
        background-color: #f5f5f5; /* 轻微的背景颜色，使边框更突出 */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 轻微的阴影效果 */
        width: 75%; /* 限制段落宽度，提高可读性 */
        margin-left: auto; /* 水平居中 */
        margin-right: auto;
    }
</style>
