<nav>
    <a href="/">首页</a>
    <a href="/picture/">景点介绍</a>
    <a href="/about/">路线推荐</a>
</nav>
<style>
    nav {
        margin: 3em 0;
    }
    a {
        font-size: 20px;
        color: black;
        margin-right: 2em;
        padding: 1em;
        text-decoration: none;
    }
    a:hover {
        background-color: rgb(164, 245, 229);
        color: black;
    }
</style>
